.products__content {
    background: #F5F5F5;
}

.products-heading {
    margin-left: 36px;
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

.products-heading__title {
    margin-left: 0;
    font-size: 24px;
    font-weight: bold;
}

.products-heading__link {
    margin: auto;
    margin-right: 24px;
}

.products-heading__link-register {
    margin: auto;
    padding: 10px 15px;
    background: #F4A460;
    text-decoration: none;
    font-size: 12px;
    color: #000;
    border: none;
    border-radius: 3px;
    vertical-align: middle;
}

.products-list {
    margin-left: 36px;
    display: flex;
}

.products-list__menu {
    margin-right: 18px;
    width: 180px;
}

.search-form__input-text {
    padding-left: 5px;
    height: 36px;
    width: 100%;
    border:1px solid #DCDCDC;
    border-radius: 18px;
    font-size: 10px;
    color: #D3D3D3;
}

.search-form__button-submit {
    margin-top: 12px;
    height: 36px;
    width: 100%;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    background: #FFD700;
    box-shadow: 1px 1px 2px -1px #A9A9A9;
}

.sort {
    padding-bottom: 12px;
    border-bottom: 1px solid #DCDCDC;
}

.sort-heading {
    font-size: 18pxpx;
    font-weight: bold;
}

.sort-form__select-box {
    height: 32px;
    width: 100%;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
    font-size: 10px;
    color: #D3D3D3;
}

.sort-form__tag-area {
    margin: 12px 3px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    border: 1px solid #FFA500;
    border-radius: 24px;
}

.sort-form__tag-area span {
    padding: 8px 8px; 
    font-size: 12px;
}

.sort-form__tag-delete--button {
    margin: auto;
    padding: 0 auto;
    width: 16px;
    height: 16px;
    border: 1px solid #FFA500;
    border-radius: 20px;
    background-color: none;
    font-size: 12px;
    color: #FFA500;
}

.products-list__display {
    width: 88%;
}

.products-list__display-items {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.product-card {
    margin: 8px;
    height: 30%;
    width: 31%;
    box-shadow: 1px 1px 2px -1px #808080;
    text-decoration: none;
}

.product-card__img img {
    width: 100%;
}

.product-card__tag {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    color: #000;
}

.products-list__display-footer {
    text-align: center;
}



svg.w-5.h-5 {
    width: 30px;
    height: 30px;
}